<div class="inputModal" [class.displayModal]="!showModal">
  <div class="title">
    <p>{{ title.cn }}</p>
    <div>{{ title.en }}</div>
  </div>
  
  <div 
    cdkDropList 
    (cdkDropListDropped)="drop($event)"
    class="poolWrap"
  >
    <div 
      *ngFor="let item of noticeItems; let i = index" 
      [class.displayNone]="item.seq == -1"
      cdkDrag
    >
      <div class="notice-item">
        <div class="drag-handle" cdkDragHandle>
          <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
            <path d="M9 3h2v2H9V3zm0 4h2v2H9V7zm0 4h2v2H9v-2zm0 4h2v2H9v-2zm0 4h2v2H9v-2zm4-16h2v2h-2V3zm0 4h2v2h-2V7zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2z"/>
          </svg>
        </div>
        <span class="notice-label">{{ getTranslation(item.name) }}</span>
        <label class="switch">
          <input 
            type="checkbox" 
            [checked]="item.selected" 
            (change)="switchChange($event.target.checked, item.id)"
          >
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>

  <div class="button-container">
    <button class="basicBtn updateSettingBtn" *ngIf="showOkBtn" (click)="updateSettings()">
      <div>
        <p>更新設定</p>
        <p>Update Setting</p>
      </div>
    </button>
    
    <button class="basicBtn resetBtn" *ngIf="showOkBtn" (click)="resetToOriginal()">
      <div>
        <p>重置</p>
        <p>Reset</p>
      </div>
    </button>
    
    <button class="backBtn basicBtn" (click)="back()">
      <div class="back-icon">←</div>
      <div>
        <p>返回</p>
        <p>BACK</p>
      </div>
    </button>
  </div>
</div>